@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Denices To Do App</h1>
    <p>Go to ToDoList to see my project.</p>
    <img src="/images/thumbs-up.png"/>
</div>
