@page
@model ListOfTODOs.Pages.ItemIndexModel
@{
    ViewData["Title"] = "ToDo List";
}

<form id="Item-form">
    Activity: <input type="text" name="activity" value="1" />
</form>

<button class="btn btn-dark" id="post-item">Add new item</button>
